<h2>Posts</h2>
<div id="container">
  <input type="button" value="new" (click)="new(post)">
    <div id="div1"> 
      <ul>
        <li *ngFor="let post of posts">
          <a routerLink="/edit/{{post.postid}}">
            <span> {{post.postid}} &nbsp; {{ post.created | date:'medium' }} </span> 
            <span><input type="text"  [(ngModel)]="post.title" disabled="disabled"></span>
          </a>
        </li>
      </ul>
    </div>
<!-- this was the old workaround 
<div id="div2">
  <app-edit [post]="selectedPost" [username]="selectedUsername"></app-edit> 
</div> -->
  <!-- <div id="div2">
      <router-outlet></router-outlet>
  </div> -->

</div>
