<form *ngIf="post" class="edit-form" #loginForm="ngForm">
  <div class="form-group">
    <label class="text-white" for="title">Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="post.title" name="title">
  </div>
  <div class="form-group">
    <label class="text-white" for="body">Body</label>
    <textarea class="form-control" id="body" rows="4" cols="40" [(ngModel)]="post.body" name="body"></textarea>
  </div>
  <button type="button" class="btn btn-success mr-md-2" [disabled]="loginForm.form.dirty"  (click)="save(post)">Save</button>
  <button type="button" class="btn btn-danger mr-md-2" (click)="delete(post.postid)">Delete</button>
  <button type="button" class="btn btn-info mr-md-2"  (click)="preview(post)">Preview</button>
</form>