<!-- <router-outlet></router-outlet> I don't think i need this line. Something to do wiht ngoninit not being called get this.router navigate is called -->
<div *ngIf="post" id="div2">
  <form>
    <div>Title: <input type="text" name="title" [(ngModel)]="post.title"></div>
    <div> Body: <textarea rows="4" cols="50" [(ngModel)]="post.body" name="body">
    </textarea> </div>
    <p> Last Modified: {{ post.modified | date:'medium' }}  </p>
    <input type="button" value="save" (click)="save(post)">
    <input type="button" value="delete" (click)="delete(post.postid)">
    <input type="button" value="preview" (click)="preview(post)">
  </form>
</div>
  